In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

C:\Users\chohan\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\chohan\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
Data=pd.read_csv("/Users/chohan/Desktop/Machine Learning Problems/DataSets/Boston_housing_Dataset.csv",delimiter=',')

In [3]:
Data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     511 non-null    float64
 1   ZN       511 non-null    float64
 2   INDUS    511 non-null    float64
 3   CHAS     511 non-null    int64
 4   NOX      511 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      511 non-null    float64
 7   DIS      511 non-null    float64
 8   RAD      511 non-null    int64
 9   TAX      511 non-null    int64
 10  PTRATIO  511 non-null    float64
 11  B        511 non-null    float64
 12  LSTAT    511 non-null    float64
 13  MEDV     511 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 56.0 KB

In [5]:
Data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,511.000000,511.000000,511.000000,511.000000,511.000000,506.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000
mean,3.584139,11.252446,11.151096,0.068493,0.554757,6.287589,68.616243,3.783876,9.485323,407.440313,18.500000,356.600900,12.879550,22.682192
std,8.564433,23.234838,6.828175,0.252838,0.115310,0.703802,28.099130,2.098631,8.688469,167.903532,2.200348,90.882679,7.797416,9.484262
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082325,0.000000,5.190000,0.000000,0.449000,5.885500,45.050000,2.100350,4.000000,279.500000,17.400000,374.710000,7.065000,17.050000
50%,0.261690,0.000000,9.690000,0.000000,0.538000,6.209000,77.300000,3.152300,5.000000,330.000000,19.100000,391.340000,11.450000,21.200000
75%,3.621175,12.500000,18.100000,0.000000,0.624000,6.629750,94.050000,5.118000,24.000000,666.000000,20.200000,396.210000,17.105000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,23.000000,396.900000,76.000000,67.000000

In [6]:
Data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         5
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [7]:
Data.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         5
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [8]:
Data.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [9]:
Data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [10]:
Data.shape

(511, 14)

In [11]:
Data=Data.dropna()

In [12]:
Data=Data.rename(columns={"MEDV":"Price"})

In [13]:
Data.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
CRIM,1.000000,-0.199418,0.406479,-0.056024,0.420170,-0.220363,0.352817,-0.377904,0.625407,0.582884,0.278265,-0.383363,0.406266,-0.381994
ZN,-0.199418,1.000000,-0.536888,-0.041824,-0.517737,0.307812,-0.567952,0.666410,-0.309652,-0.312901,-0.394101,0.176625,-0.390730,0.339327
INDUS,0.406479,-0.536888,1.000000,0.061746,0.762864,-0.392193,0.644182,-0.709589,0.594344,0.718784,0.378739,-0.357787,0.558093,-0.466094
CHAS,-0.056024,-0.041824,0.061746,1.000000,0.090200,0.089952,0.086664,-0.097049,-0.006803,-0.035770,-0.124780,0.050143,-0.056881,0.164175
NOX,0.420170,-0.517737,0.762864,0.090200,1.000000,-0.301778,0.730640,-0.770167,0.609839,0.665914,0.185864,-0.379523,0.540542,-0.412974
RM,-0.220363,0.307812,-0.392193,0.089952,-0.301778,1.000000,-0.237335,0.199853,-0.213078,-0.293969,-0.339755,0.127888,-0.553126,0.667695
AGE,0.352817,-0.567952,0.644182,0.086664,0.730640,-0.237335,1.000000,-0.748698,0.456212,0.505186,0.261170,-0.273739,0.528674,-0.366717
DIS,-0.377904,0.666410,-0.709589,-0.097049,-0.770167,0.199853,-0.748698,1.000000,-0.491789,-0.530665,-0.237141,0.291309,-0.470697,0.235206
RAD,0.625407,-0.309652,0.594344,-0.006803,0.609839,-0.213078,0.456212,-0.491789,1.000000,0.910898,0.441336,-0.441338,0.424516,-0.382068
TAX,0.582884,-0.312901,0.718784,-0.035770,0.665914,-0.293969,0.505186,-0.530665,0.910898,1.000000,0.442510,-0.439917,0.483227,-0.461959
PTRATIO,0.278265,-0.394101,0.378739,-0.124780,0.185864,-0.339755,0.261170,-0.237141,0.441336,0.442510,1.000000,-0.176542,0.397760,-0.451117
B,-0.383363,0.176625,-0.357787,0.050143,-0.379523,0.127888,-0.273739,0.291309,-0.441338,-0.439917,-0.176542,1.000000,-0.341055,0.319851
LSTAT,0.406266,-0.390730,0.558093,-0.056881,0.540542,-0.553126,0.528674,-0.470697,0.424516,0.483227,0.397760,-0.341055,1.000000,-0.562599
Price,-0.381994,0.339327,-0.466094,0.164175,-0.412974,0.667695,-0.366717,0.235206,-0.382068,-0.461959,-0.451117,0.319851,-0.562599,1.000000

In [15]:
X=Data.iloc[:,0:13]
Y=Data.iloc[:,-1]

In [16]:
np.shape(X)

(506, 13)

In [17]:
np.shape(Y)

(506,)

In [18]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

In [19]:
np.shape(x_train)

(404, 13)

In [20]:
np.shape(x_test)

(102, 13)

In [21]:
np.shape(y_train)

(404,)

In [22]:
np.shape(y_test)

(102,)

In [23]:
Model=LinearRegression()
Model.fit(x_train,y_train)

LinearRegression()

In [24]:
predicts=Model.predict(x_train)

In [26]:
Model.coef_

array([-1.49475473e-01,  4.31248675e-02, -3.73144291e-02,  2.32914771e+00,
       -1.49650786e+01,  6.73256313e+00, -5.43328480e-02, -1.64880838e+00,
        1.99718661e-01, -1.29539586e-02, -7.31333280e-01,  1.21286110e-02,
        3.89282047e-03])

In [27]:
Model.intercept_

11.512454527895704

In [28]:
Model.score(x_train,y_train)*100

64.98793665248861

In [29]:
Model.score(x_test,y_test)*100

46.40712846111922

In [30]:
r2_score(Y,Model.predict(X))*100

62.23856136694151

In [31]:
Model=RandomForestRegressor()
Model.fit(x_train,y_train)

RandomForestRegressor()

In [32]:
predicts=Model.predict(x_train)

In [35]:
Model.score(x_train,y_train)*100

97.21790157998603

In [36]:
Model.score(x_test,y_test)*100

84.13484211881138